body {
    background-color: lightgrey;
    font-family: "Courier New", monospace;
}

ul {
    display:flex; 
    flex-wrap: wrap;
}

li {
    list-style: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;

}
.title{
    text-align: center;
    color: rgb(177, 34, 34);

}
.topnav{
    text-align: center;
}

.num {
    position: relative;
    left: 50px;
}
.name {
    position: relative;
    left: 50px;
    font-weight: bold;

}

.img {
    border: 2px solid #555;
}

button {
    width: 30px;
    height: 20px;
}
.grass {
    background-color: green;
    color: white;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    position: relative;
    left: 50px;

}
.fire {
    background-color: rgb(219, 68, 8);
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    position: relative;
    left: 50px;
}
.water {
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    position: relative;
    left: 50px;
}
.bug {
    background-color: lightgreen;
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    position: relative;
    left: 50px;
}
.flying {
    background-color: lightblue;
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    position: relative;
    left: 50px;
}
.poison {
    background-color: purple;
    color: white;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    position: relative;
    left: 50px;
}
.normal {
    background-color: grey;
    color: white;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    position: relative;
    left: 50px;
}

.img:hover {
    transform: scale(1.02);
}

